<div *ngIf="!isConfirm">
  <h4 class="f-w-700 f-s-24 m-0">Forgot your password?</h4>
  <span class="m-t-10">
    Enter the email address associated with your account and we will send you a reset code to create a new password.
  </span>

  <form [formGroup]="form" (ngSubmit)="forgotPassword()" class="m-t-10">

    <mat-form-field appearance="outline" class="w-100 m-t-10" color="primary">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-hint *ngIf="f['email'].touched && f['email'].invalid" class="error-msg" >
        <div class="text-error" *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
        <div class="text-error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Email invalid</div>
      </mat-hint>
    </mat-form-field>

    <div class="bg-light-{{this.typeAlert}} m-t-10" *ngIf="showAlert">
      <h5 class="mat-subtitle-2 text-{{this.typeAlert}} d-flex align-items-center">
        <i-tabler name="info-circle" class="m-r-8 d-flex"></i-tabler>
        {{messageAlert}}
      </h5>
    </div>

    <button mat-flat-button color="primary" class="w-100" [class.spinner]="loading" [disabled]="!form.valid || loading">
      Send verification code
    </button>

    <a [routerLink]="['/login']" mat-stroked-button color="primary" class="w-100 m-t-10">
      Go to Sign in
    </a>

  </form>
</div>
<div *ngIf="isConfirm" class="col-lg-9 max-width-form">
  <h4 class="m-t-10">Reset password</h4>
  <span class="m-t-10">
    We have sent a reset code to your email, enter the code in the field below
  </span>

  <form [formGroup]="formVerification"  (ngSubmit)="forgotPasswordSubmit()" class="m-t-10">

    <mat-form-field appearance="outline" class="w-100 m-t-10" color="primary">
      <mat-label>Enter your verification code</mat-label>
      <input formControlName="code"  matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>New password</mat-label>
      <input matInput type="password"  formControlName="password" placeholder="Your password must meet the following:"
             (blur)="showPasswordHints=false" (focus)="showPasswordHints=true" />
    </mat-form-field>
    <div *ngIf="showPasswordHints && fv['password'].value" class="passwordHints" >
      <div [ngClass]="{'hint-success': !fv['password'].hasError('minlength'),'hint-error': fv['password'].hasError('minlength')}" class="d-flex">
        <i-tabler *ngIf="!fv['password'].hasError('minlength')" name="circle-check" class="d-flex"></i-tabler>
        <i-tabler *ngIf="fv['password'].hasError('minlength')" name="alert-circle" class="d-flex"></i-tabler>
        <span>Length must be minimum 8</span>
      </div>
      <div [ngClass]="{'hint-success': !fv['password'].hasError('lower'),'hint-error': fv['password'].hasError('lower')}" class="d-flex">
        <i-tabler *ngIf="!fv['password'].hasError('lower')" name="circle-check" class="d-flex"></i-tabler>
        <i-tabler *ngIf="fv['password'].hasError('lower')" name="alert-circle" class="d-flex"></i-tabler>
        <span>A lower case</span>
      </div>
      <div [ngClass]="{'hint-success': !fv['password'].hasError('upper'),'hint-error': fv['password'].hasError('upper')}" class="d-flex">
        <i-tabler *ngIf="!fv['password'].hasError('upper')" name="circle-check" class="d-flex"></i-tabler>
        <i-tabler *ngIf="fv['password'].hasError('upper')" name="alert-circle" class="d-flex"></i-tabler>
        <span>A capital letter</span>
      </div>
      <div [ngClass]="{'hint-success': !fv['password'].hasError('number'),'hint-error': fv['password'].hasError('number')}" class="d-flex">
        <i-tabler *ngIf="!fv['password'].hasError('number')" name="circle-check" class="d-flex"></i-tabler>
        <i-tabler *ngIf="fv['password'].hasError('number')" name="alert-circle" class="d-flex"></i-tabler>
        <span>A number</span>
      </div>
      <div [ngClass]="{'hint-success': !fv['password'].hasError('character'),'hint-error': fv['password'].hasError('character')}" class="d-flex">
        <i-tabler *ngIf="!fv['password'].hasError('character')" name="circle-check" class="d-flex"></i-tabler>
        <i-tabler *ngIf="fv['password'].hasError('character')" name="alert-circle" class="d-flex"></i-tabler>
        <span>A special character</span>
      </div>
      <div *ngIf="fv['password'].hasError('space')" class="d-flex hint-error">
        <i-tabler name="alert-circle" class="d-flex"></i-tabler>
        <span>Password cannot begin or end with spaces</span>
      </div>
    </div>

    <div class="bg-light-{{this.typeAlert}}" *ngIf="showAlert">
      <h5 class="mat-subtitle-2 text-{{this.typeAlert}} d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>
        {{messageAlert}}
      </h5>
    </div>

    <button mat-flat-button color="primary" class="w-100" [class.spinner]="loading" [disabled]="!formVerification.valid || loading">
      Reset password
    </button>
    <a [routerLink]="['/login']" mat-stroked-button color="primary" class="w-100 m-t-10">
      Go to Sign in
    </a>

  </form>

  <div *ngIf="!limitResendReached" class="m-t-10">
    <span>Have not you received the code?</span>
    <a *ngIf="showResendLink && !loadingResend" (click)="forgotPassword()" class="text-decoration-none text-primary" style="cursor: pointer">
      Resend
    </a>
    <span *ngIf="loadingResend">
      Sending
    </span>
    <span *ngIf="!showResendLink && !loadingResend">
      Wait {{timeToShowResendLink}} to resend another code
    </span>
  </div>
  <div *ngIf="limitResendReached" class="m-t-10">
    You have reached the maximum resend limit, try resending another code later or enter the last code received.
  </div>

</div>
